@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.add-campain label.block.text-sm.font-medium.text-gray-700.dark\:text-gray-100 {
  margin-bottom: 20px;
}
#gradient-bg{
  background: linear-gradient(to right, #af002f72, #af002f72);
}
body{
  font-family: "Oswald", sans-serif;
  overflow-y: scroll;
}
#testimonial{
  /* background: linear-gradient(to right, #af002f72, #af002f72), url('../src/assets/what-people-say.jpg'); */
  background: url('../src/assets/what-people-say.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  background-attachment: fixed;
}
.active{
  /* background: #ff712a; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  color: #ff2c64;
  font-weight: 500;
}

.swiper-pagination-bullet{
  display: none !important;
}

#about-slider{
  background-color: #ff2c64d0;
}

/* #ffd414 */

#about-slider-bg{
  
  background-image: url('../src/assets/slider/slider-2.jpg') !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}